<div>
    <div class="well" ng-repeat="field in fieldMappings track by $index">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <ul class="nav nav-tabs">
                        <li ng-class="{active: field.data.type=='string'}"><a ng-click="changeDataType(field, 'string')">String</a></li>
                        <li ng-class="{active: field.data.type=='form-field'}"><a ng-click="changeDataType(field, 'form-field')">Campo Formulario</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{active: field.data.type=='string'}">
                            <input type="text" class="form-control" ng-model="field.data.value">
                        </div>
                        <div class="tab-pane" ng-class="{active: field.data.type=='form-field'}">
                            <ui-select ng-model="field.data.id" theme="bootstrap">
                                <ui-select-match placeholder="Seleccione un campo del formulario">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="field.id as field in (formFields | filter: $select.search) track by field.id">
                                    <span ng-bind="field.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <label class="small-label" >Parámetro del Web Service</label>
                <input type="text" class="form-control" ng-model="field.wsParamName">
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger" ng-click="removeMapping($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" ng-click="addFieldMapping()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>